@model DependentCacheViewModel

<div>
    <h2>InMemoryCacheDependencies</h2>
    <div>
        <span>Parent Cache : </span><span>@Model.ParentCachedTime</span>
    </div>
    <div>
        <span>Child Cache : </span><span>@Model.ChildCachedTime</span>
    </div>
    <div>
        <span>Message : </span><span>@Model.Message</span>
    </div>
</div>