@model CallBackViewModel

<div>
    <h2>InMemoryCachePostEviction</h2>
    <div>
        <span>Cached Time : </span><span>@Model.CacheTime</span>
        <span>Cache Message : </span><span>@Model.Message</span>
    </div>
</div>